<ion-pane>
  <div class="background-image"></div>
  <ion-content scroll="false">
    <div class="background-wrapper">
      <div class="header"></div>
      <div class="backbutton">
        <a href="../index.html">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 197.402 197.402" style="enable-background:new 0 0 197.402 197.402;" xml:space="preserve" width="20px" height="20px"> <polygon points="146.883,197.402 45.255,98.698 146.883,0 152.148,5.418 56.109,98.698 152.148,191.98"/></polygon></svg>
          Evacuation</a>
      </div>
      <!-- <h1 class="procedure-title"><img class="icon" src="../img/icons/running.png">Evacuation</h1> -->
      <div class="content-wrapper">
        <!-- <p class="desc">
          Evacuation is the movement of all students and staff out of the facility as quickly and orderly as possible. This movement is initiated when there is a threat in or near the facility and it is safer for students to move away from the building rather than remaining. Typically, students and staff will move to the designated Staff-Student Staging Area. At this location, attendance is taken and decisions can be made as to whether there will be movement to the Family Reunification Site or return to the school.
        </p> -->
        <img class="icon-small" src="../img/icons/running.png">
        <h2 class="section-heading">ACTION STEPS (Teacher/Staff) </h2>
        <ol class="action-steps">
          <li><span class="red">Line up</span> students</li>
          <li><span class="red">Take</span> Classroom Evacuation Kit</li>
          <li>Make sure classroom is <span class="red">clear</span></li>
          <li><span class="red">Lock the door</span> only if the fire is NOT in your room</li>
          <li><span class="red">Power walk</span> with  urgency</li>
          <li><span class="red">Care for students</span> with special needs</li>
          <li>Take attendance</li>
        </ol>
      </div>
      <div class="footer">
        &copy; Studio C 2016
      </div>
    </div>
  </ion-content>
</ion-pane>
