<ion-pane>
  <div class="background-image"></div>
  <ion-content scroll="false">
    <div class="background-wrapper">
      <div class="header"></div>
      <div class="backbutton">
        <a href="../index.html">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 197.402 197.402" style="enable-background:new 0 0 197.402 197.402;" xml:space="preserve" width="20px" height="20px"> <polygon points="146.883,197.402 45.255,98.698 146.883,0 152.148,5.418 56.109,98.698 152.148,191.98"/></polygon></svg>
          Hard Lockdown</a>
      </div>

      <div class="content-wrapper">
        <img class="icon-small" src="../img/icons/lock.png">
        <h2 class="section-heading">ACTION STEPS (Teacher/Staff)</h2>
        <h3 class="section-subheading">If outdoors: </h3>
        <ol class="action-steps">
          <li><span class="red">Independently Evacuate</span></li>
        </ol>
        <h3 class="section-subheading">If indoors: </h3>
        <ol class="action-steps">
          <li><span class="red">Move</span> students to a secure location behind a lockable door or Independently Evacuate.</li>
          <li><span class="red">Lock</span> the door(s).</li>
          <li><span class="red">Lights Off</span>.</li>
          <li><span class="red">Cover Windows</span>.</li>
          <li>Students should Duck and Cover.</li>
          <li>Take attendance.</li>
        </ol>
      </div>
      <div class="footer">
        &copy; Studio C 2016
      </div>
    </div>
  </ion-content>
</ion-pane>
