<ion-pane>
  <div class="background-image"></div>
  <ion-content scroll="false">
    <div class="background-wrapper">
      <div class="header"></div>
      <div class="backbutton">
        <a href="../index.html">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 197.402 197.402" style="enable-background:new 0 0 197.402 197.402;" xml:space="preserve" width="20px" height="20px"> <polygon points="146.883,197.402 45.255,98.698 146.883,0 152.148,5.418 56.109,98.698 152.148,191.98"/></polygon></svg>
          Reverse Evacuation</a>
      </div>
      <div class="content-wrapper">
        <img class="icon-small" src="../img/icons/running.png">
        <h2 class="section-heading">ACTION STEPS (Teacher/Staff)</h2>
        <ol class="action-steps">
          <li><span class="red">Blow</span> three loud and sharp whistle blasts to get students attention (Stop, Look, and Listen).</li>
          <li><span class="red">Utilize</span> hand signals for direction, urgency, and safety commands.</li>
          <li><span class="red">Ensure</span> care for those students with special needs.</li>
          <li><span class="red">Initiate</span> Soft Lockdown or Shelter-in-Place procedures as directed, once in the building.</li>
        </ol>
      </div>
      <div class="footer">
        &copy; Studio C 2016
      </div>
    </div>
  </ion-content>
</ion-pane>
