<ion-pane>
  <div class="background-image"></div>
  <ion-content scroll="false">
    <div class="background-wrapper">
      <div class="header"></div>
      <div class="backbutton">
        <a href="../index.html">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 197.402 197.402" style="enable-background:new 0 0 197.402 197.402;" xml:space="preserve" width="20px" height="20px"> <polygon points="146.883,197.402 45.255,98.698 146.883,0 152.148,5.418 56.109,98.698 152.148,191.98"/></polygon></svg>
          Shelter-in-Place</a>
      </div>
      <div class="content-wrapper">
        <img class="icon-small" src="../img/icons/duck.png">
        <h2 class="section-heading">ACTION STEPS (Teacher/Staff)</h2>
          <h3 class="section-subheading">If outdoors:</h3>
          <ol class="action-steps">
            <li><span class="red">Reverse Evacuate</span></li>
          </ol>
          <h3 class="section-subheading">If in a portable classroom:</h3>
          <ol class="action-steps">
            <li>If safe to do so, <span class="red">Reverse Evacuate</span></li>
            <li>If you are unable to reverse evacuate into the main building you must <span class="red">turn off</span> the <span class="red">HVAC</span> system and <span class="red">lock and seal</span> all exterior opening doors and windows, any broken windows, and all air vents.</li>
          </ol>
          <h3 class="section-subheading">If indoors:</h3>
          <ol class="action-steps">
            <li><span class="red">Lock and seal</span> (with plastic and tape) all exterior opening doors and windows and any broken windows.</li>
            <li>Tape inside opening classroom door(s) as an added precaution.</li>
            <li>Conduct Staff and Student Accounting.</li>
            <li>Enforce Student Code of Conduct; remain calm.</li>
            <li>Student movement outside of classroom, if necessary, can only occur within a sealed hallway and only with adult supervision.</li>
            <li>Continue instruction as usual.</li>
            <li>Ensure care for those students with special needs.</li>
            <li>Refer all media inquiries to site’s School Administrator.</li>
          </ol>
      </div>
      <div class="footer">
        &copy; Studio C 2016
      </div>
    </div>
  </ion-content>
</ion-pane>
